*{padding: 0;margin: 0;}
html,body{
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fff;
    font-family: "宋体", arial;
    font-size: 14px;
    line-height: 1.5;
}
.wrap{width: 100%;}