*{padding: 0}
html{color: #333;background-color: #f2f2f2;;}
body{font: 12px/1.5 tahoma, arial, "Microsoft Yahei", "Hiragino Sans GB", \5b8b\4f53;font-family: 微软雅黑;}
a{text-decoration: none!important;color: #333!important;}
.wrap{padding: 0}
header{width: 100%;background:#F1F1F1}
.hd{width: 1200px;min-width: 1200px;height: 36px;line-height: 36px;}
.user{background: url("icon-top-allnav.png") no-repeat -158px 0;display: inline-block;width: 19px;height: 18px;position: absolute;top: 9px;left: -20px;}
.hd_item{position: relative}
.hd_item a{border-right: 1px solid #ccc;padding: 0 6px 0 0;}
.hd_l{margin: 0;float: left}
.hd_r_r{float: right;height: 36px;}
.hd_r{float: right}
.hd_r_r a{width: 24px;height: 25px;line-height: 25px;display: inline-block;text-align: center;margin-top: 6px;margin-right: 10px;}
.wx{background: url("icon-top-allnav.png") no-repeat -32px top;}
.xl{background: url("icon-top-allnav.png") no-repeat;}
.free{width: 104px!important;height: 20px!important;color: white;background: red!important;line-height: 20px!important;}
.free_wrap{height: 36px;line-height: 36px;display: inline-block;vertical-align: top;}

/*nav*/
.nv_wrap{width: 100%;}
.nv_content{width: 1200px;margin: 0 auto;height: 94px;display: flex;line-height: 94px;}
.nav_item{margin-left: 38px;padding: 0!important;}
.nv_t{text-decoration: none;color: #222;font-size: 16px;display: block;height: 94px;text-align: center;}
.logo_t{color: #666666;font-size: 14px;border-left: 1px solid #d2d2d2;margin-left: 10px;padding-left: 8px;}
.nv{margin: 0;padding: 0;}
.search{position: relative}
#search{width: 280px;height: 36px;font-size: 12px;border: 1px solid #bb0000;background-color: #fff;padding-left: 80px;outline: none;padding-right: 46px;}
.select_pos{height: 33px;line-height: 33px;width: 70px;position: absolute;top:0;left: 0;top: 31px;left: 1px;text-align: center;
    background: url("arrow.png") no-repeat #f8f8f8 55px center;
}
.select_t{margin-right: 10px}
.search_icon{display: inline-block;width: 44px;height: 34px!important;background: url("icon_home.png") no-repeat #bb0000 -157px 9px;position: absolute;top:30px;right: 0;}
.choose1:after,.choose2:after{content: "";position: relative;right: -3px;top: -3px;display: inline-block;width: 0;height: 0;border-left: 3px solid transparent;border-right: 3px solid transparent;
    border-top: 5px solid #666;border-bottom: 0;transition: all 0.6s ease 0.1s;}
.cur:after{transform: rotate(180deg);}
.drop_down_card{height:200px;width: 100%;background: white;padding: 25px;border-top:1px solid #dadada;z-index:99;position: absolute;left: 0;display: none;}
.drop_down{width: 1200px;margin: 0 auto}

/*swiper*/
.swiper-pagination-bullet{background-color:white;width: 10px;height: 10px }
.swiper-pagination-bullet-active{background-color:#bb0000}
.swiper-button-next,.swiper-button-prev{width: 54px;height: 54px;background-color: #000;opacity: 0.5}
.swiper-slide img{height: 400px;}

/*works*/
.works_wrap{width: 100%;background: white;}
.works{width: 1200px;margin-bottom: 0;padding: 32px 0}
.work{background: url("icon_home.png") no-repeat 0 -24px;width: 30px;height: 100%;}
.works li{height: 66px;width: 160px;display: flex;justify-content: space-around;}

/*login*/
.hero{position: relative;min-width: 1200px;}
.login{width: 280px;height: 280px;background: rgba(0,0,0,0.3);position: absolute;z-index: 22;top: 15%;right: 10%;color: white;}
.login_head{height: 40px;}
.login_head p{width: 140px;display: inline-block;height: 40px;text-align: center;float: left;line-height: 40px;}
.hide_{background: rgba(255,255,255,0.1)}
.login_item{padding: 5px 8px;width: 117px;display: inline-block!important;}
.login_item1{width: 220px}
.exp{vertical-align: top;float: right;}
.test{display: inline-block;background: #ccc;padding: 7px 15px;color: #333;float: right;}
.reg{width: 220px;height: 36px;background: #bb0000;color: white;outline: none;border: none;}
.form_{width: -moz-fit-content; width:-webkit-fit-content; width: fit-content; margin-left: auto; margin-right: auto;margin-top: 18px;}
