body{background:url(../img/default_bg.jpg)#999999!important;width: 100%;min-height: 100%;position: relative;}
#voice_works{width: 845px;margin: 50px auto 30px;position: relative;}
#voice_works h3{text-align: center;font-size: 1.4em;position: relative;margin-bottom: 30px;}
.quickList{font-size: 14px;color: #999;font-family: Arial, sans-serif;position: absolute;top: 8px;right: 47px;}
.img_list{width: 100%;}
.list_box{background: white;background: white;width: 250px;margin: 0 16px 30px;position: relative;}
.voice_tag{display: inline-block;color: white;padding: 0 3px;background: #3f3f3f;line-height: 20px;position: absolute;left: 6px;top: 6px;font-size: 12px;}
.voice_title,.voice_info{display:inline-block;font-size: 14px;line-height: 23px;padding-left: 5px;}
.voice_title{color: #333;}
.voice_title:hover{text-decoration: underline;}
.mask{display:none;width: 250px;height: 133px;background: url(../img/cover_play.png)no-repeat 50% 50% #000;position: absolute;left: 0;top: 0;opacity: 0.7;}