*{padding: 0;margin: 0;}
body{
    font-size: 12px;
    font-family: 'PingFang SC','Helvetica Neue','Helvetica','Arial',sans-serif;
    margin: 0;
    padding: 0;
}

header{width: 100%}
.top span{font-size: 12px;}
.top span a{font-size: 12px;text-decoration: none;color: #5b5b5b;}
.top span:first-child{float: left}
.top span:last-child{float: right}
.top{margin: 0 10px;}
.ad_box{border: 1px solid #eee;margin: 0 10px;border-radius: 5px}
.ad a:first-child{float: left;}
.ad a:last-child{float: right}
.ad a img{vertical-align: bottom}
.ad a{margin: 8px}
.ad{}

.clearfloat:after{content: "";display: block;clear: both;}

.container-fluid{padding: 0;}
.nv{background-color: #2b6695}
.nv a{color: white;text-decoration: none;padding: 5px 8px;display: block;font-size: 14px;}
.nv a:hover{text-decoration: underline;}
.nv ul{margin-left:0px;padding-left: 15px;box-shadow: -3px 1px 3px rgba(0,0,0,0.25)}
.nv{margin: 8px 7px 0 10px}

.main_l,.main_m,.main_r{float: left}
.main_l{background:#eef;padding: 0;}
.r{background-color:#eef;border: 1px dotted #83abc6;border-right: none;border-left: none;padding: 5px 15px;cursor:pointer;}
.r:hover{background: white}
.r:hover .dropdown-menu{display: block;left: 90%;top: 0;}
.main{margin: 8px 7px 0 10px;}
.nv_bottom{
    border-right: 1px solid #83abc6;
    border-bottom: 3px solid #156EB4;
    border-left: 4px solid #156EB4;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.main_l img{float: right}
.site_cate{font-size: 14px;color: black;background: url("../images/site_cate_title_bg.png")no-repeat -4px top;
    padding-left: 28px!important;border-top: none!important;font-weight: bold;}
.nv_bottom{background: url("../images/site_cate_bottom_bg.gif")no-repeat -4px bottom;padding-bottom: 5px}

.fresh{float: right!important;}
.fresh a{display: inline-block!important;padding: 10px 0px!important;}
.fresh a:last-child{margin-left: 8px;}

.main_r_box{background:#eef;width: 300px;margin: auto;}
.main_r{margin-top: 40px;}
.find{border:1px solid #7e9db9;width: 180px;height: 25px;box-sizing: content-box;margin-right: 10px}
.find_btn{width: 80px;height: 26px;font-size: 13px;color: #666}
.main_r_inpt{padding: 5px;padding: 13px 0 0 15px;}
.txyun{margin-top: 15px;}
.link{text-decoration: none;color: #555;margin-top: 8px;padding: 0 5px;}
.link a{text-decoration: none;color: #555;}
.link a:hover{text-decoration: underline;color: red;}
.link_first{margin-top: 14px;}
.news{border: 1px solid #ddd;}

.editor a{color: #015fb6;}
.editor_pick{height: 30px;line-height: 35px!important;}
.editor_pick a{font-size: 14px;font-weight: bold;color: #105cb6;!important;}
.editor span{font-weight: normal;}
.editor li{line-height: 24px}
.recommend{margin-left: -7px;}
.editor_link:hover{color: #e33e06!important;}

.ar_left{background: url("../images/upup.gif") no-repeat;width: 46px;height: 52px;cursor: pointer;float: left;}
.ar_left span{line-height: 2.2em;font-size: 14px;color: #075db3;font-family: Verdana;text-align: center;display: block;}
.comments{background: url("../images/icon_comment.gif") no-repeat;padding-left: 17px;}
.read{background: url("../images/icon_arrow.gif")no-repeat;padding-left: 17px;}
.ar_right{margin-left: 60px;margin-top: 10px;}
.ar_t{color: #105cb6;font-size: 14px;font-weight: bold;text-decoration: underline;}
.ar_right h3{margin-top: 0!important;height: 20px;line-height: 8px;}
.head{float: left;margin-right: 5px;margin-bottom: 10px;}
.article{padding-bottom: 15px;border-bottom: 1px dotted #ccc;margin-bottom: 16px;}
.uname{margin-right: 4px;}

.main_m_nv a{background-color: #e8edf0;border: 1px solid #c8d3de!important;border-radius:0!important;}
.main_l_box{border:1px solid #ccc;border-radius: 5px;margin-bottom: 20px;}
.main_l_box_t{color: #222;font-size: 13px;font-weight:bold;margin: 7px 5px;}
.main_l_box_link{padding-left: 12px;letter-spacing:0.5px;}
.box_link{color:#404040;line-height: 20px;}
.box_link:hover{color: #e33e06;}
.main_l_bottom li{line-height: 20px}

.main_l{width: 160px;margin-left: -100%}
.main_m{width: 100%;padding: 0 310px 0 170px}
.main_r{width: 300px;margin-left: -300px;}

