*{padding: 0;margin: 0;}
html{width: 100%;}
body{color: #000;font-family: Verdana, Arial, Helvetica, sans-serif;line-height: 1.5;background: url("../images/bg_body.gif") left top;}
.clearfloat:after{content: "";clear: both;display: block;}

.wrap{margin: 0 auto;width: 100%;min-width: 930px;}
header{height: 178px;background: url("../images/header.gif")no-repeat right top;}
.my_user{padding-top: 25px;margin-left: 2em;font-weight: bold;}
.my_user a{text-decoration: none;color: #935A32;font-size: 28px;font-family: "黑体","ms song","宋体","Arial","verdana","Helvetica", "sans-serif";}
.my_user a:hover{text-decoration: underline;}
.hd{height: 178px;background: url("../images/bg_title.gif") 170px 40px no-repeat;}

.main{width: 97%;min-width: 950px;text-align: left;margin: auto;}
.my_left_box{width: 100%;float: left; }
.my_right_box{width: 230px;float: left;margin-left: -230px;}
.nv_ul li{list-style: none;display: inline-block;}
.nv_ul li a{color: #333;font-size: 12px;padding-top: 8px;text-decoration: none;}
.state span{color: #333;font-size: 12px;padding-top: 8px;}
.my_left{margin: 0 250px 0px 0px;background: #fefef2 url("../images/bg_left.gif") left top repeat-x;padding-top:35px;padding-bottom:15px;}
.nv_ul{float: left;}
.state{float: right;}
.nv{margin: 8px 20px 3px;background: url("../images/line.gif")left bottom repeat-x;padding-bottom: 12px;}


