*{margin:0;padding: 0}
a{text-decoration: none}
.clearFloat:after{clear: both;display: block;content: "";overflow: hidden;}
body{
    background: url("bg_84.jpg")no-repeat;
    background-size: cover;
    position: relative;
}
header{width: 100%;background-color: white;opacity: 0.92;height: 50px;overflow: hidden;min-width: 500px;box-shadow: 0 0 2px rgba(0,0,0,0.2)}
.hd_l{margin-left: 2%;width: 500px;height: 50px;float: left}
.nv{float: left;line-height: 50px;}
.logo{float: left;line-height: 50px;}
.nv li{float: left;list-style: none;}
.nv li a{display: block;width:110px;text-align: center;color: rgb(153, 153, 153);}
.activenv{color:#20b3d8!important;border-left: 1px solid #f8f8f8;border-right:1px solid #f8f8f8;background-color:#fcfcfc;box-shadow: inset 0 9px 8px #f8f8f8;}
.logo a{color:rgb(221,221,221);font-family: 微软雅黑,黑体;font-size: 26px;margin-right: 10px;font-weight: bold;}

.hd_r{margin-right: 2%;float: right;margin-top: 5px;}
.hd_r_link{background: url("bg_flbtn.png");display: inline-block;overflow: hidden;height: 22px;width: 62px;cursor: pointer;background-position: 144px 0;}
.hr_r_text{font-size: 12px;color: #fff;}
.hd_r_icon{height: 14px;width: 16px;background: url("bg_flbtn.png");background-position: -190px 0;overflow: hidden;display: inline-block;margin-left: 2px;}


footer{color: #999;width: 100%;height: 70px;background: #fff;border-top:1px solid #ccc;color:#999;line-height: 70px;position: absolute;left: 0;bottom: 0;}
.ft_box{width: 800px;height: 70px;overflow: hidden;margin: 0 auto;display: flex;justify-content: space-between;}
.ft_btn{float: left;margin: 0 10px;}
.ft_nv{float: left}
.ft_nv li{list-style: none;display: inline-block}
.ft_nv li a{color: #999;font-size: 14px}
.ft_btn button{background: transparent;border:none;font-size: 14px; color:#999;outline: 1px solid #20b3d8;padding: 5px;}
.ft_btn button:first-child{margin-right: 5px;}
.ft_r span{font-size: 14px}
.footer_empty_box{width: 100%;height: 70px;margin: 50px 0 0;background: none;}

section{width: 100%;}
.article_show{width: 700px;background-color: #fff;border-radius: 3px;padding:80px 50px 0;box-shadow:0 0 2px rgba(0,0,0,0.2);margin:40px auto 0; }
/*.article_show:before{border:1px dashed #ccc;bottom: 5px;}*/
.article_show h1{color: #000;letter-spacing: 4px;font-weight: normal;margin: 0 0 30px;text-align: center;text-transform: uppercase;font-size: 32px;}
.article_author{text-align: center;color: #999999;margin: 40px 0 50px;font-size: 16px;font-weight: normal;line-height: 30px;}
.article_text p{color: #000;font-size: 16px;font-weight: normal;line-height: 30px;margin-bottom: 30px;text-align: justify;}
.randomArticle{display: inline-block;margin: 0 auto;width:100px;line-height: 30px;text-align: center;background-color: #ffb948;
border-radius: 3px;border-width:1px;border-style: solid;border-color: #D69E31 #E3A037 #D5982D;color:#8F5A0A;cursor: pointer;
box-shadow: 0 0 1px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.3)inset;}
.randowmBtn{text-align: center;padding: 50px 0;}